fake_useragent==0.1.11
bencode.py==4.0.0
requests==2.24.0
jsmin==2.2.2
Pypubsub==4.0.3
demjson==2.2.4
cloudscraper==1.2.46
magneturi==1.3
beautifulsoup4==4.9.1
bencode==1.0
pubsub==0.1.2
lxml==4.9.1
